# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Program
Calc
.Calc.cfg
*.sublime-workspace
*.sublime-project

# Testing
*.in
*.out